{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper" class="post">
            <article>
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    {{ .Date.Format "Jan 2, 2006 15:04" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
               
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">

                    {{- with .Content -}}                
                        <div>
                            {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E; </a> ${3}` | safeHTML }}
                        </div>
                    {{- end -}}
                </section>
            </article>
        <br><br>
	    

	    
        <form
      name="mc-embedded-subscribe-form"
      action="https://aol.us20.list-manage.com/subscribe/post?u=ccd512a974255d49f5f84d62c&amp;id=0a75c12913"
      method="post"
      class="form-inline justify-content-center"
>
<center>
  <div class="input-group">
    <input
           name="EMAIL"
           id="getUpdates"
           type="email"
           class="form-control form-control-lg"
           placeholder="Email"
           aria-label="Enter email"
           aria-describedby="emailHelp"
           required
           >
      <input
              
	      id="subscribe"
              name="subscribe"
              type="submit"
              class="btn btn-primary btn-lg"
	      value="Newsletter"
      >
  </div>
	</center>
</form>
        
     <div class="space-above">{{/* Previous & Next links */}}
        <hr />
        {{- with .PrevInSection -}}
            <div class="is-pulled-left" title="Previous page/article in this section"><a class="prev" href="{{ .Permalink }}"><b>Previous:</b> {{ .Title }}</a></div>
        {{- end -}}
        {{- with .NextInSection -}}
            <div class="is-pulled-right" title="Next page/article in this section"><a class="next" href="{{ .Permalink }}"><b>Next:</b> {{ .Title }}</a></div>
        {{- end -}}
        <div class="is-clearfix"></div>
    </div>
            
    <footer id="post-meta" class="clearfix">
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    <img class="avatar" src="{{ "images/avatar.png" | absURL }}">
    <div>
        <span class="dark">{{ .Site.Params.name }}</span>
        <span>{{ .Site.Params.aboutAuthor }}</span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
    </footer>


            {{ if .Site.Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
