{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">
    {{ .Content }}
    
    <div class="table-of-contents">
    <a href="#chapter23">
        <div><span>Freckles</span></div>
        <div>N<span class="numero">o</span>23</div>
    </a>

    <a href="#chapter22">
        <div><span>Mofo</div>
        <div>N<span class="numero">o</span>22</div>
    </a>

    <a href="#chapter21">
        <div><span>Fool</span></div>
        <div>N<span class="numero">o</span>21</div>
    </a>

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
