
{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section class="home-container guide_container">
    <div class="guide-intro">
        <div class="container w-container">
            <div data-ix="new-interaction" class="page-heading small">{{ .Title }}</div>
            <img src="{{ .Site.BaseURL }}guide/images/js-banners-new-11.svg" alt="" class="header-image">
        </div>
    </div>

    <div class=" guide_container">
        {{ .Content }}
    </div>    

    {{ partial "footer.html" . }}
</section>

{{ partial "sticky_menu.html" .}}

{{ partial "js.html" . }}
</body>
