<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    
{{ partial "hire.html" . }}
    
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
      <a href="https://wasim.co/files/">Files</a> | <a href="https://wasim.co/reach/">Reach</a> | <a href="https://wasim.co/tags/">Topics</a> | <a href="https://wasim.co/store/">Store</a> | <a href="https://rare.wasim.co/">Rare</a>
    {{ end }}
    </p>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBQNF85"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        

    <!-- Start of MailChimp Embed Code -->    
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/be7fa968ad83145b90ecfd090/71dd9eaefd12baae49d92bbd6.js");</script>
<!-- End of MailChimp Embed Code -->
        
</footer>
