<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    
    {{ partial "hire.html" . }}
    
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       <a href="https://wasim.co/contact/">Contact</a> | <a href="https://wasim.co/about/">About</a>
    {{ end }}
    </p>
    
    
    <script>
  window.intercomSettings = {
    app_id: "hr3gqhmn"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/hr3gqhmn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
    

    <!-- Start of MailChimp Embed Code -->    
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/be7fa968ad83145b90ecfd090/71dd9eaefd12baae49d92bbd6.js");</script>
<!-- End of MailChimp Embed Code -->
    
</footer>
