<div class="home-container">
    <div class="home-guides-row w-row">
        <div class="column w-col w-col-stack">
            <a href="#" class="big-page-link home w-inline-block">
                <img src="images/Homepage%20Content.svg" alt="How to write well" class="big-page-link-image">
                <div class="home-guide-header">Writing Well</div>
                <div class="home-guide-subheader">Craft and reflection</div>
            </a>
        </div>
        <div class="column w-col w-col-stack">
            <a href="#" class="big-page-link home w-inline-block">
                <img src="images/Muscle%20Home.svg" alt="How to build muscle" class="big-page-link-image">
                <div class="home-guide-header">Building Muscle</div>
                <div class="home-guide-subheader">The modern science</div>
            </a>
        </div>
        <div class="column w-col w-col-stack">
            <a href="/guide/growth/intro" class="big-page-link home w-inline-block">
                <img src="images/Growth%20Home.svg" alt="How to grow a startup" class="big-page-link-image">
                <div class="home-guide-header">Growth Marketing</div>
                <div class="home-guide-subheader">Acquiring customers</div>
            </a>
        </div>
        <div class="column w-col w-col-stack">
            <a href="#" class="big-page-link home w-inline-block">
                <img src="images/Blog%20Home.svg" alt="How to grow a startup" class="big-page-link-image">
                <div class="home-guide-header">The Blog</div>
                <div class="home-guide-subheader">Short-form thoughts</div>
            </a>
        </div>
    </div>
</div>
