<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='{{ .Site.BaseURL }}tags'>{{ with .Site.Params.tags }}{{ . }}{{ else }}Topics{{ end }}</a>
	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a href='{{ .Site.BaseURL }}post'>{{ with .Site.Params.about }}{{ . }}{{ else }}Archive{{ end }}</a>
	{{ end }}
	<a class="cta" href='http://wasim.co' target="_blank">{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
</nav>
