<div class="toggle">
  <p>Dark Theme</p>
  <input type="checkbox" name="check" id="check" class="check">
  <b class="b switch"></b>
  <b class="b track"></b>
</div>
<div class="profile">


     <section id="wrapper">
  
     <header id="header">
             <a href='{{ with .Site.Params.avatarLink }}{{ . }}{{ else }}{{ .Site.BaseURL }}about{{ end }}'>
                <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.png"/></a>
                <h1>{{ .Site.Title }}</h1>
                
            
            {{ with .Site.Params.bio }}<h2>{{ . | markdownify }}</h2>{{ end }}
        </header>
    </section>
</div>
