{{ if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "",
    "url": "",
    {{ if .Site.Author.name -}}
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Author.name }}"
    },
    {{- end }}
    {{ if .Site.Params.description -}}
    "description": "{{ .Site.Params.description }}",
    {{- end }}
    {{ with .Site.Params.image -}}
    "image": "{{ .url | absURL }}",
    {{- end }}
    {{ with .Site.Params.logo -}}
    "thumbnailUrl": "{{ .url | absURL }}",
    {{- end }}
    {{ with .Site.Copyright -}}
    "license": "{{ . }}",
    {{- end }}
    "name": "{{ .Site.Title }}"
  }
  {
     "@context":"https://schema.org",
     "@graph":[
        {
           "@type":"WebSite",
           "@id":"{{ .Permalink }}",
           "url":"{{ .Site.BaseURL }}",
           "name":"{{ .Params.author }}",
           "potentialAction":{
              "@type":"SearchAction",
              "target":"https://wasim.co/?s={search_term_string}",
              "query-input":"required name=search_term_string"
           }
        },
        {
           "@type":"WebPage",
           "@id":"{{ .Permalink }}",
           "url":"{{ .Site.BaseURL }}",
           "inLanguage":"en",
           "name":"{{ .Site.Title }}",
           "isPartOf":{
              "@id":"{{ .Site.BaseURL }}"
           },
          {{ if not .PublishDate.IsZero -}}
          "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- else if not .Date.IsZero -}}
          "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- end }}
          {{ with .Lastmod -}}
          "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- end }}
          
           "description":"{{ .Description }}"
        }
     ]
  }
</script>
{{/*
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://example.com/search?&q={query}",
    "query-input": "required"
  } */}}
{{- else -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "",
    "url": "",
    {{ if .Site.Author.name -}}
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Author.name }}"
    },
    {{- end }}
    {{ if .Site.Params.description -}}
    "description": "{{ .Site.Params.description }}",
    {{- end }}
    {{ with .Site.Params.image -}}
    "image": "{{ .url | absURL }}",
    {{- end }}
    {{ with .Site.Params.logo -}}
    "thumbnailUrl": "{{ .url | absURL }}",
    {{- end }}
    {{ with .Site.Copyright -}}
    "license": "{{ . }}",
    {{- end }}
    "name": "{{ .Site.Title }}"
  }
  {
     "@context":"https://schema.org",
     "@graph":[
        {
           "@type":"WebSite",
           "@id":"{{ .Permalink }}",
           "url":"{{ .Site.BaseURL }}",
           "name":"{{ .Params.author }}",
           "potentialAction":{
              "@type":"SearchAction",
              "target":"https://wasim.co/?s={search_term_string}",
              "query-input":"required name=search_term_string"
           }
        },
        {
           "@type":"WebPage",
           "@id":"{{ .Permalink }}",
           "url":"{{ .Site.BaseURL }}",
           "inLanguage":"en",
           "name":"{{ .Site.Title }}",
           "isPartOf":{
              "@id":"{{ .Site.BaseURL }}"
           },
          {{ if not .PublishDate.IsZero -}}
          "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- else if not .Date.IsZero -}}
          "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- end }}
          {{ with .Lastmod -}}
          "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
          {{- end }}
          
           "description":"{{ .Description }}"
        }
     ]
  }
</script>
{{- end }}
