<div style="opacity: 1;" class="toc">
    <div class="toc-container">
        <div class="toc-menu">
            <a href="/guide/growth/intro" class="toc-menu-link w--current">Intro</a>
            <a href="/guide/growth/landing-pages" class="toc-menu-link">Pages</a>
            <a href="/guide/growth/ab-testing" class="toc-menu-link">A/B</a>
            <a href="/guide/growth/user-onboarding" class="toc-menu-link">Onboarding</a>
            <a href="/guide/growth/ad-channels" class="toc-menu-link">Channels</a>
            <a href="/guide/growth/make-ads" class="toc-menu-link">Ads</a>
            <a href="/guide/growth/facebook-instagram-ads" class="toc-menu-link">Facebook</a>
            <a href="/guide/growth/b2b-sales" class="toc-menu-link">Sales</a>
            <a href="/guide/growth/content-marketing" class="toc-menu-link last">Content Marketing</a>
            <div class="toc-promotion">
                <div>
                    <div>
                        The next batch of Professional Marketing Training closes soon.
                        <a href="https://www.demandcurve.com/company" target="_blank">See what we teach</a>.
                    </div>
                </div>
            </div>
        </div>
        {{ if .Site.Params.enableToc }}
            {{ if .TableOfContents }}
            <div id="guide_toc">
                {{ .TableOfContents }}
            </div>
            {{ end }}
        {{ end }}
        <div id="page-progress" class="page-progress" style="opacity: 1; width: 0%;"></div>
    </div>
</div>
