{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">

    <!--
    
<script src="https://fast.wistia.com/embed/medias/buq70ie3i5.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:100.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_buq70ie3i5 seo=false videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>    
    <br>
    -->
        
<!--End mc_embed_signup-->
        
    <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-03.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Experience</h3>
          </div>
<p class="_summary">
    I'd single-handedly work on a brand's identity creation, build their digital presence across website, newsletter, social and search media, design a conversion funnel specific to the business needs, run paid marketing campaigns, and enhance their customer experience through ongoing optimization.
</p>    
    
        <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-01.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Achievements</h3>
          </div>
<ol>
            <li>Reduced to 80% the overall search and social ads spend and increased conversions by 5%</li>
<li>Ranked for top 10 primary high volume keywords high in search results in short period of less than six months</li>
<li>Planned and executed two Chatbots to automate sales and customer support work</li>
<li>Replaced a nine years experienced marketing head in the core team within ten days, a ten years experienced paid campaigns lead in two months and a twelve years experienced visual designer in three months of joining in the same startup
    </ol>
            
            <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-02.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Certificates</h3>
          </div>
<ol>
            <li>Product Masterclass: How to Build Digital Products</li>
<li>Growth Master Training from Growth University</li>
<li>Startup Founder Track from Startup School by Y Combinator</li>
    </ol>
            
        </div>
    </li>

        </div>
    </li>
</ol>

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
