{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">
	
<!-- Begin MailChimp Signup Form -->

<div id='mc_embed_signup' class='email-sign-up v01'>

<label for="getUpdates" class="d-block h2 text-center my-4">Get Updates</label>
<form
      name="mc-embedded-subscribe-form"
      action="https://aol.us20.list-manage.com/subscribe/post?u=ccd512a974255d49f5f84d62c&amp;id=0a75c12913"
      method="post"
      class="form-inline justify-content-center"
>
  <div class="input-group">
    <input
           name="EMAIL"
           id="getUpdates"
           type="email"
           class="form-control form-control-lg"
           placeholder="Enter email"
           aria-label="Enter email"
           aria-describedby="emailHelp"
           required
           >
      <button
              id="subscribe"
              name="subscribe"
              type="submit"
              class="btn btn-primary btn-lg"
      >Subscribe</button>
  </div>
</form>

</div>
<br><br><br>
<!--End mc_embed_signup-->
        
    <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-03.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Experience</h3>
          </div>
<p class="_summary">
    As a full stack marketer, I'd single-handedly work on a brand's identity creation, build their digital presence across website, newsletter, social and search media, design a conversion funnel specific to the business needs, run paid marketing campaigns, and enhance their customer experience through ongoing optimization using industry standard tools.
</p>    
    
        <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-01.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Achievements</h3>
          </div>
<ol>
            <li>Reduced to 80% the overall search and social ads spend and increased conversions by 5%</li>
<li>Ranked for top 10 primary high volume keywords high in search results in short period of less than six months</li>
<li>Planned and executed two Chatbots to automate sales and customer support work</li>
<li>Replaced a nine years experienced marketing head in the core team within ten days, a ten years experienced paid campaigns lead in two months and a twelve years experienced visual designer in three months of joining in the same startup
    </ol>
            
            <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-02.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Certificates</h3>
          </div>
<ol>
            <li>Product Masterclass: How to Build Digital Products</li>
<li>Growth Master Training from Growth University</li>
<li>Startup Founder Track from Startup School by Y Combinator</li>
    </ol>
            
        </div>
    </li>

        </div>
    </li>
</ol>
	    

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
