{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">
        
    <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-03.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Experience</h3>
          </div>
<p class="_summary">
    As a full stack marketer, I'd single-handedly work on a brand's identity creation, build their digital presence across website, newsletter, social and search media, design a conversion funnel specific to the business needs, run paid marketing campaigns, and enhance their customer experience through ongoing optimization using industry standard tools.
</p>    
    
        <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-01.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Achievements</h3>
          </div>
<ol>
            <li>Reduced to 80% the overall search and social ads spend and increased conversions by 5%</li>
<li>Ranked for top 10 primary high volume keywords high in search results in short period of less than six months</li>
<li>Planned and executed two Chatbots to automate sales and customer support work</li>
<li>Replaced a nine years experienced marketing head in the core team within ten days, a ten years experienced paid campaigns lead in two months and a twelve years experienced visual designer in three months of joining in the same startup
    </ol>
            
            <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(https://wasim.co/images/web-02.png);"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Certificates</h3>
          </div>
<ol>
            <li>Product Masterclass: How to Build Digital Products</li>
<li>Growth Master Training from Growth University</li>
<li>Startup Founder Track from Startup School by Y Combinator</li>
    </ol>
            
        </div>
    </li>

        </div>
    </li>
</ol>

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
